<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

		<property name="connection.url">jdbc:mysql://localhost:3306/hoba</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- Drop and re-create the database schema on startup -->

		<property name="hbm2ddl.auto">update</property>
		
		<!-- Test -->
		<property name="javax.persistence.validation.mode">none</property>   


	
        <mapping class="fr.enssat.beans.Adr" />
        <mapping class="fr.enssat.beans.CDM" />
        <mapping class="fr.enssat.beans.ContactData" />
        <mapping class="fr.enssat.beans.Contacts" />
        <mapping class="fr.enssat.beans.Course" />
        <mapping class="fr.enssat.beans.CourseCode" />
        <mapping class="fr.enssat.beans.CourseDescription" />
        <mapping class="fr.enssat.beans.Credits" />
        <mapping class="fr.enssat.beans.Degree" />
        <mapping class="fr.enssat.beans.FormalPrerequisites" />
        <mapping class="fr.enssat.beans.InfoBlock" />
        <mapping class="fr.enssat.beans.InfoBlock$InfoBlockContentItem" />
        <mapping class="fr.enssat.beans.LearningObjectives" />
        <mapping class="fr.enssat.beans.OrgUnit" />
        <mapping class="fr.enssat.beans.OrgUnitDescription" />
        <mapping class="fr.enssat.beans.OrgUnitKind" />
        <mapping class="fr.enssat.beans.Profession" />
        <mapping class="fr.enssat.beans.Program" />
        <mapping class="fr.enssat.beans.Program$ProgramSearchwordItem" />
        <mapping class="fr.enssat.beans.ProgramCode" />
        <mapping class="fr.enssat.beans.ProgramDescription" />
        <mapping class="fr.enssat.beans.ProgramStructure" />
        <mapping class="fr.enssat.beans.Qualification" />
        <mapping class="fr.enssat.beans.QualificationDescription" />
        <mapping class="fr.enssat.beans.RecommendedPrerequisites" />
        <mapping class="fr.enssat.beans.RefCourse" />
        <mapping class="fr.enssat.beans.RefProgram" />
        <mapping class="fr.enssat.beans.Region" />
        <mapping class="fr.enssat.beans.StudyQualification" />
        <mapping class="fr.enssat.beans.SubBlock" />
        <mapping class="fr.enssat.beans.SubBlock$SubBlockContentItem" />
        <mapping class="fr.enssat.beans.SubProgram" />
        <mapping class="fr.enssat.beans.Syllabus" />
        <mapping class="fr.enssat.beans.TeachingActivity" />
        <mapping class="fr.enssat.beans.TeachingPlace" />
        <mapping class="fr.enssat.beans.Text" />
        <mapping class="fr.enssat.beans.WebLink" />



	</session-factory>
</hibernate-configuration>